<mat-card class="example-card">
    <div class="example-container">
        <mat-card-title>
            <h5 class="text-center">Visitation History</h5>
        </mat-card-title><br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Address</th>
                    <th scope="col">Relationship to prisoner</th>
                    <th scope="col">Date visited</th>
                    <th scope="col">Time in</th>
                    <th scope="col">Time out</th>
                    <th scope="col">Number of visits</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Manchitong Kotong</th>
                    <th>60</th>
                    <td>Cebu, Manila, Philippines</td>
                    <td>Husband</td>
                    <th>June 17, 2019</th>
                    <td>10-10-AM</td>
                    <td>02-10-PM</td>
                    <th>20</th>
                </tr>
            </tbody>
        </table>
        <button mat-raised-button color="accent" (click)="back()">Back</button>
    </div>
</mat-card>