<mat-card class="example-card" >
    <div class="example-container">
        <mat-card-title>
            <h5 class="text-center">List of visitors</h5>
        </mat-card-title><br>
        <table class="table">
            <thead>
                <tr>
                    <!-- <th>Photo</th> -->
                    <th scope="col">Fullname</th>
                    <th scope="col">Prisoner's name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Age</th>
                    <th scope="col">Relationship to prisoner</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time In</th>
                    <th scope="col">Time Out</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of visitor">
                    <td>{{ v.fullname}}</td>
                    <td>{{ v.prisonername}}</td>
                    <td>{{ v.address}}</td>
                    <td>{{ v.age}}</td>
                    <td>{{ v.relationship}}</td>
                    <td>{{ v.dateVisit}}</td>
                    <td>{{ v.timeIn}}</td>
                    <td>{{ v.timeOut}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>