<div class="container-fluid" >
    <div class="row">
        <div class="card col-sm-4">
            <img src="../../assets/dorm.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Room # 1</b></h4>
                <p><b>Drug cases</b></p>
            </div>
        </div>
        <div class="card col-sm-4">
            <img src="../../assets/dorm.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Room # 2</b></h4>
                <p><b>domestic violence cases</b></p>
            </div>
        </div>
        <div class="card col-sm-4">
            <img src="../../assets/dorm.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Room # 3</b></h4>
                <p><b>DUI cases</b></p>
            </div>
        </div>
        <div class="card col-sm-4">
            <img src="../../assets/dorm.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Room # 4</b></h4>
                <p><b>Assault and battery cases</b></p>
            </div>
        </div>
        <div class="card col-sm-4">
            <img src="../../assets/dorm.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Room # 5</b></h4>
                <p><b>Public intoxication and disorderly conduct cases</b></p>
            </div>
        </div>
        <div class="card col-sm-4">
            <img src="../../assets/dorm.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Room # 6</b></h4>
                <p><b> Property crimes (shoplifting, theft, grand larceny,damage to property)</b></p>
            </div>
        </div>
    </div>
</div>