.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

#addBtn{
  float: right;
}

.example-card{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
